@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
* {
  font-family: 'Poppins', sans-serif !important;
  box-sizing: border-box !important;
}
:root {
  --primary-color: #B88E2F;
}

.background {
  background-image: url('/assets/hero-bg.png');
  height: 84vh;
  width: 100%;
  background-size: cover !important; /* Ensures the image covers the container */
  background-position: bottom center !important; /* Positions the image */
  background-repeat: no-repeat !important; /* Prevents repeating the image */
}

.main-2 {
  background-image: url('/assets/bg_shop.png');
  height: 36vh;
  width: 100%;
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
}

.hover-nav:hover {
  color: #B88E2F !important;
  transition: color ease 0.2s !important;
}

.hover-boxes {
  position: relative; /* Make it a positioned container for the overlay */
}

.hover-boxes:hover {
  cursor: pointer;
}



.hover-boxes-2 {
  transition: 0.2s all ease-in-out !important;
}

.hover-boxes-2:hover {
  transform: scale(1.02) !important;
  cursor: pointer;
}

.overlay {
  display: none;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.533);
  opacity: 0; /* Hidden by default */
  visibility: hidden; /* Hidden by default */
  transition: all ease 0.3s !important; /* Smooth transition */
}
.hover-boxes:hover .overlay {
  display: block;
  opacity: 1;
  visibility: visible;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
