@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: 'Poppins', sans-serif !important;
  box-sizing: border-box !important;
}
body{
  animation: fade-in 0.4s;
}

:root {
  --primary-color: #B88E2F;
}

.background {
  background-image: url('/assets/hero-bg.png');
  height: 84vh;
  width: 100%;
  background-size: cover !important; /* Ensures the image covers the container */
  background-position: bottom center !important; /* Positions the image */
  background-repeat: no-repeat !important; /* Prevents repeating the image */
}

.main-2 {
  background-image: url('/assets/bg_shop.png');
  height: 36vh;
  width: 100%;
  background-size: cover !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
}

.hover-nav{
  transition: all ease 0.2s !important;
}
.hover-nav:hover {
  transform: scale(1.1);
  color: #B88E2F !important;
}

.hover-boxes {
  position: relative; /* Make it a positioned container for the overlay */
}

.hover-boxes:hover {
  cursor: pointer;
}

.hover-boxes-2 {
  transition: 0.2s all ease-in-out !important;
}

.hover-boxes-2:hover {
  transform: scale(1.02) !important;
  cursor: pointer;
}

.overlay {
  display: block; /* Keep it block so it can transition smoothly */
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.533);
  opacity: 0; /* Start hidden */
  visibility: hidden; /* Start hidden */
  transition: opacity 0.2s ease, visibility 0.2s ease; /* Smooth transition */
}

.hover-boxes:hover .overlay {
  opacity: 1;
  visibility: visible;
}


.icon {
  transition: all ease 0.3s;
}

.icon:hover {
  transform: scale(1.2);
  color: #B88E2F;
}



@media screen and (max-width:500px) {
  
.background {
  background-image: url('/assets/hero02-bg.png');
  background-position: right right !important;
}

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
